*{
    margin:0;
}

body{
    background-color: darkgray;
}

.header{
    background-color:darkgray;
    font-family: 'Allura', cursive; 
    padding: 60px 10px 10px 10px;
    text-align: justify;
}

header h1{
    display: inline;
    font-size: 3em;
    /* padding-right: 950px; */
}

header div{
    display: inline;
}
 
header div a{
   float: right; 
}

header div a{
    padding-right: 8px;
}

header div a i{
    font-size: 25px;
    align-items: flex-end;
    /* align-items:stretch; */
}
/* 
.left{
    padding:20px 20px 400px;
    background-color: white;
    height:100%;
    max-width: 15%;
    margin: 0%;
} */

.left{
    float: left;
    width:155px;
    margin: 0;
    padding: 1em;
    background-color: white;
    padding-bottom: 243px;
}

ul{
    padding:0px ;
}

ul li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.6;
    margin: 0;
}

.a2:hover{
    background-color: black;
    color:white;
}

/* .content{
    margin-left:265px;
    background-color: white;
} */

.content {
  margin-left: 190px;
  border-left: 1px solid #d4d4d4;
  padding: 1em;
  overflow: hidden;
  background-color: white;
}

main h2{
    font-size: 30px;
}

main p{
   font-size: 20px; 
}

table{
    border-collapse: collapse;
    width: 100%;

}

th{
    background-color: aquamarine;
    padding: 10px;
}

td{
    padding: 10px;
}

td i{
    font-size: 30px;
}

.t2{
text-align: left;
font-size: 20px;
}

th, td{
    border: solid 3px lightgray;
    text-align: center;
}

th h3{
    color: white;
}


footer{
text-align: center;
padding: 50px 50px;
background-color:royalblue;
font-size: 25px;
color: white;
margin-left: 0;
}
/* 
li a{
text-align: left;
} */
/* .socials{

} */